@use './variables';

.hero {
  text-align: center;
  padding: 140px 20px 80px;

  background: linear-gradient(180deg, #f8fbfc 0%, #ffffff 100%);

  h1 {
    font-size: 48px;
    font-weight: 700;
    color: #3a3a3a;
    max-width: 700px;
    margin: 0 auto;
  }

  p {
    font-size: 18px;
    margin: 20px 0;
    color: pink;
  }

  .btn-primary {
    margin-top: 20px;
  }
}

/* onda mais orgânica */
.wave {
  height: 140px;
  background: linear-gradient(135deg, #00a8c6, #00c2d6);
  border-radius: 0 0 80% 80%;
}
